body {
  	line-height: 0;
  	margin:0;
  	background-image: url("Graphics/background.jpeg");
}

#map-element {
	border: solid black 5px;
	display: inline-block;
}

#map-element>div {
	display:inline-block;
}

#points-container {
	position: absolute;
	font-size: 40px;
	top: 50px;
	left: 31%;
	color: blue;
}